@if (ready()) {
  <cdk-virtual-scroll-viewport
    scrollWindow
    [itemSize]="rowHeight()"
    [maxBufferPx]="rowHeight() * 4"
    [minBufferPx]="rowHeight() * 2"
  >
    <div
      *cdkVirtualFor="let row of rows(); let index = index; trackBy: trackRow; templateCacheSize: 0"
      class="photo-grid__row"
    >
      @for (photo of row; track photo.internalId) {
        <ps-photo-tile [mode]="modeFor(photo)" [photo]="photo" [priority]="index === 0" (save)="save.emit($event)" />
      }
    </div>
  </cdk-virtual-scroll-viewport>
}
